/* estilos.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #e75480;
}

nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: #d8336d;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f5b7b1;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px 0;
}
